body {
  font-family: 'lato', sans-serif;
  margin: 0% 0% 0% 0%;
}

.hamburger {
  align-self: flex-start;
  margin: 5% 0% -3% 5%;
}

.header-menu {
  display: none;
}

.logo {
  display: none;
}

.class-hide {
  display: none;
}

.menu-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: relative;
  left: 2%;
  top: 2%;
  width: 10%;
  display: none;
}

.nav-wrapper {
  margin-bottom: 59%;
}

.nav-wrapper li {
  list-style: none;
  padding: 0% 9%;
  margin-bottom: 2%;
}

.nav-wrapper li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.register {
  color: #ec5242;
  margin: 15% 0% 5% 25%;
  text-decoration: none;
  background-color: white;
  padding: 5% 8%;
  border: #ec5242 2px solid;
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.head-nav {
  position: absolute;
  border: #ec5242 solid 2px;
  color: #d3d3d3;
  width: 61vw;
  height: 60vh;
  background-color: #272a31;
  top: 6%;
  left: 14%;
  display: none;
}

.hamburger img {
  width: 31px;
  text-decoration: none;
  color: beige;
}

.main-class {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f7f6f6;
  background-image: url(img/bg.jpg);
  background-position: 93% 6%;
  background-repeat: no-repeat;
  background-size: 106%;
  padding: 1% 5% 15% 5%;
}

.title-red {
  color: #ec5242;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 12% 0% 0% 0%;
}

h1 {
  color: #ec5242;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 15% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}

.tech-explain {
  border: white 2px solid;
  color: #272a31;
  background-color: rgb(242, 242, 242);
  max-width: 90%;
  margin: 3% 0% 0% 0%;
  padding: 5%;
}

.tech-explain p {
  color: #272a31;
  margin: 0% 0% 0% 0.9%;
  font-size: 0.9rem;
  line-height: 21px;
  text-align: center;
}

.address-place {
  padding: 0;
  margin: 0;
}

.place {
  font-weight: 500;
  margin: 0% 0%;
}

.address {
  font-weight: 899;
  font-size: 1.6rem;
  margin-bottom: 2.5%;
}

.nav-link img {
  width: 48%;
  margin: 11% 24% 0% 25%;
}

.program {
  background-color: #272a31;
  color: white;
  background-image: url(img/josue.png);
  padding: 8% 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-program {
  background-color: #ec5242;
  text-decoration: none;
  color: white;
  padding: 9% 9% 8% 9%;
}

.program-card img {
  width: 82%;
}

.program-resume {
  font-size: 0.8rem;
}

.program-lesson {
  color: #ec5242;
}

.program-card {
  grid-template-columns: 1fr 1.5fr 3.2fr;
  align-items: center;
  display: grid;
  padding: 0% 1%;
  max-height: 89%;
  margin-bottom: 1%;
  background-color: rgb(127, 127, 127, 0.3);
}

.program-wrapper {
  display: grid;
  margin: 10% 0%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.underline {
  border-bottom: #ec5242 solid 1px;
  height: 1.5px;
  width: 12%;
  margin: 0%;
}

.lecture-list {
  display: flex;
  flex-direction: column;
  padding: 6%;
  align-items: center;
}

.lecture-list-one {
  align-items: center;
  flex-direction: column;
  margin-bottom: 11%;
  display: flex;
}

.lecture-display {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
}

.lecture-text {
  margin-bottom: 4%;
  font-size: 1.5rem;
}

.show-more {
  display: flex;
  border: #e0e0e0 1px solid;
  justify-content: center;
  align-items: center;
}

.hide-lecture {
  display: unset;
  display: none;
}

.display-boutton {
  display: flex;
  flex-direction: column;
  width: 42%;
}

.partener-name {
  color: #f7f6f6;
}

.parterner-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.parteners-main {
  display: none;
  background-color: #272a31;
}

.parteners-info {
  padding-right: 5%;
  margin-top: 6%;
}

.parteners-info img {
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}

.footer {
  background-color: white;

  /* color: #272a31; */
}

@media screen and (min-width: 769px) {
  .header-menu {
    display: block;
    background-color: #272a31;
    padding: 0.1% 10%;
  }

  /* .registerhide {
    display: none;
  } */

  .header-menu-wrap {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .header-menu-item a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
  }

  .header-menu-item img {
    width: 20%;
    justify-content: center;
  }

  .header-menu-item {
    margin-left: 2%;
    list-style: none;
  }

  .close {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .menu-bg {
    position: static;
    position: unset;
    width: 100%;
    height: 9%;
    display: block;
  }

  .nav-link img {
    width: 123%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  }

  .logo {
    width: 11%;
  }

  .nav-link {
    padding: 1% 10% 0% 10%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: static;
    position: unset;
  }

  .head-nav {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: block;
    border: none;
    position: static;
    position: unset;
    background-color: white;
  }

  .nav-wrapper {
    margin: 0;
    display: flex;
  }

  .register {
    padding: 1% 1%;
    margin: 0% 0% 0% 0%;
    position: relative;
  }

  #about {
    color: #ec5242;
  }

  .nav-wrapper li a {
    font-size: 0.8rem;
    color: black;
  }

  .nav-wrapper li {
    margin: 0;
    padding: 0% 8%;
  }

  .main-class {
    background-size: 137%;
    background-repeat: repeat-y;
    padding: 1% 5% 10% 10%;
    background-position: 53% 143%;
    background-image: url(./img/josue-main.png);
  }

  .headingred {
    padding: 0% 0% 0% 0%;
    margin: 2% 0% 0% 0%;
    font-size: 3.7rem;
    font-weight: 900;
  }

  .address {
    color: #272a31;
    margin-top: 5%;
    margin-bottom: 2.6%;
    font-weight: 900;
    font-size: 2rem;
  }

  .tech-explain {
    width: 52%;
    padding: 3.2%;
  }

  .underline {
    width: 8%;
  }

  .title-red {
    margin: 13% 0% 0% 0%;
    font-size: 2.3rem;
    font-weight: 500;
  }

  .program-wrapper {
    height: 10%;
    margin: 5% 0% 0% 0%;
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .program {
    height: 10%;
    padding: 4% 5%;
  }

  .program-card {
    height: 60%;
    padding: 10%;
    justify-items: center;
    margin-right: 1%;
    display: grid;
    grid-template-rows: 2fr 1.5fr 3fr;
    grid-template-columns: unset;
  }

  .join-program {
    display: none;
  }

  .program-lesson {
    font-size: 1.1rem;
  }

  .program-card img {
    width: 40%;
  }

  .see-whole {
    display: block;
    color: #f7f6f6;
  }

  .lecture-text {
    font-size: 1.4rem;
    margin-bottom: 1.99%;
  }

  .lecture-list-one {
    width: 98%;
    margin-bottom: 5%;
  }

  /* class dynamic */
  .lecture-display {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .display-boutton {
    display: none;
  }

  .hide-lecture {
    display: grid;
    display: unset;
  }

  .program-resume {
    color: aliceblue;
    font-size: 0.8rem;
  }

  .parterner-title {
    width: 99%;
  }

  .partener-name {
    font-size: 1.499rem;
    color: #d3d3d3;
  }

  .parteners-info {
    display: flex;
  }

  .parteners-info img {
    margin-right: 2%;
    width: 20%;
  }

  .parteners-main {
    height: 46vh;
    padding: 6%;
    display: block;
  }
}
