body {
  font-family: 'lato', sans-serif;
  margin: 0% 0% 0% 0%;
}

.hamburger {
  align-self: flex-start;
  margin: 5% 0% -3% 5%;
}

.class-hide {
  display: none;
}

.menu-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: relative;
  left: 2%;
  top: 2%;
  width: 10%;
}

.nav-wrapper {
  margin-bottom: 59%;
}

.nav-wrapper li {
  list-style: none;
  padding: 0% 9%;
  margin-bottom: 2%;
}

.nav-wrapper li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.register {
  color: #ec5242;
  margin: 15% 0% 5% 25%;
  text-decoration: none;
  background-color: white;
  padding: 5% 8%;
  border: #ec5242 2px solid;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.head-nav {
  position: absolute;
  border: #ec5242 solid 2px;
  color: #d3d3d3;
  width: 61vw;
  height: 60vh;
  background-color: #272a31;
  top: 6%;
  left: 14%;
}

.hamburger img {
  width: 31px;
  text-decoration: none;
  color: beige;
}

.main-class {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f7f6f6;
  background-image: url(img/bg.jpg);
  background-position: 93% 6%;
  background-repeat: no-repeat;
  background-size: 106%;
  padding: 1% 5% 15% 5%;
}

.title-red {
  color: #ec5242;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 12% 0% 0% 0%;
}

h1 {
  color: #ec5242;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 12% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}

.tech-explain {
  border: white 2px solid;
  color: #272a31;
  background-color: rgb(242, 242, 242);
  max-width: 90%;
  margin: 3% 0% 0% 0%;
  padding: 5%;
}

.tech-explain p {
  color: #272a31;
  margin: 0% 0% 0% 0.9%;
  font-size: 0.9rem;
  line-height: 21px;
  text-align: center;
}

.address-place {
  padding: 0;
  margin: 0;
}

.place {
  font-weight: 500;
  margin: 0% 0%;
}

.address {
  font-weight: 899;
  font-size: 1.6rem;
  margin-bottom: 2.5%;
}

.nav-link img {
  width: 48%;
  margin: 11% 24% 0% 25%;
}

@media screen and (min-width) {
  .hamburger {
    display: none;
  }
}
